* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu VIC WA NT Beginner", cursive;
  color: #632b26a0;
}
main {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 20px auto;
  height: 100vh;
  overflow: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: #fecece;
  position: relative;
}
main::-webkit-scrollbar {
  display: none;
}

/* Header */
.header {
  background-color: #fffbfa;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
}

/* Startpage */
.start-page {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  height: 100%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background-color: #fffbfa;
  border-radius: 20px;
}
.start-page button {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.start-page button img {
  width: 100px;
}

/* Add task form */
.add-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px 0px;
  border-radius: 5px;
}

.task-form {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px;
  background-color: #fffbfa;
}

.task-form label {
  font-size: 18px;
  font-weight: bold;
}

#task-name,
#task-description {
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fecece5b;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.btns button {
  width: 100px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fecece;
}
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}

/* tasks list */
.tasks-list {
  display: flex;
  gap: 20px;
  margin: 20px 0 0;
  padding: 10px;
  background-color: #fffbfa;
  border-radius: 10px;
}

.task-name {
  font-weight: bold;
  font-size: 25px;
}

.unchecked {
  font-size: 30px;
  margin: auto 0;
  color: red;
  cursor: pointer;
}

.checked {
  font-size: 30px;
  margin: auto 0;
  cursor: pointer;
  color: rgb(2, 173, 2);
}
.edit {
  margin-left: auto;
  cursor: pointer;
}
.delete {
  cursor: pointer;
}
.striken {
  text-decoration: line-through;
}

/* add button */
.add-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  margin: 30px;
  font-size: 30px;
  color: rgba(183, 4, 4, 0.671);
  background-color: #fecece3c;
  padding: 18px;
  border-radius: 50%;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  main {
    height: 150vh;
  }
}
